.footer {
  box-sizing: border-box;
  background-color: #0d1317;
}

.footer .content {
  display: flex;
  justify-content: space-evenly;
  color: #fefefe;
}

.footer .content p {
  margin-bottom: 0.8rem;
  color: #fefefe;
}

.footer .content a {
  text-decoration: none;
  color: #fefefe;
}

.footer .social-media {
  text-align: center;
}

.footer .content a:hover {
  border-bottom: 1px solid white;
}

.footer .content h4 {
  margin-top: 0.8rem;
  margin-bottom: 1.3rem;
  font-size: 19px;
  color: #fefefe;
}

.footer .content-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  padding: 1vw;
  width: 15vw;
  max-width: 180px;
}

.footer hr {
  margin: 1rem 0;
}

.footer p:last-of-type {
  color: white;
}

@media (max-width: 650px) {
  .footer .content {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }

  .footer .details {
    text-align: center;
  }

  .footer {
    position: relative;
  }

  .footer .content h4 {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }

  .footer .content p {
    margin-bottom: 0.3em;
  }

  .footer img {
    position: absolute;
    right: 1vw;
    bottom: 1vw;
  }
}