.team h2 {
  font-size: 36px;
  color: white;
}

.team {
  text-align: center;
  padding: 4vh 2vw;
  scroll-snap-align: start;
}

.team .coordinators {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  gap: 50px;
}

.team .coordinator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
}

.team .coordinator-image {
  width: 200px;
  height: 200px;
  border: 3px solid rgb(192, 192, 192);
  border-radius: 30em;
  overflow: hidden;
}

.team .coordinator-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team p {
  color: white;
}

.team .contact {
  display: flex;
  gap: 10px;
}

.team .contact > * {
  color: white;
}
