@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

/* 930da unleash code kısmının fontunu küçült. 650de wrap olsun. 650de navbar değişsin */

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

body::-webkit-scrollbar {
  display: None;
}

.App {
  background: linear-gradient(135deg,#101D42,#0d1317);
  padding-top: 2vh;
  font-family: "Titillium Web", sans-serif;
}
